@CHARSET "ISO-8859-1";

li{
	text-decoration:none;
	display: inline;
	border:2px solid Black;
	border-radius:15px 5px 25px;
	
}
h1{
	
	background-color: orange;
	text-align: center;
}
h2{
	text-align: right;
}h3{
	text-align: center;
}

img{
	width:25px;
	height:25px;
	border:2px solid red;
	float: right;
	
} 
body{
	background-color: white;
}

#header {
	width: 200%;
	height:220px;
	background-color: orange;
}

#hdLeft {
	float: left;
}

#hdRight{
	float: right;
}
a{
	display:inline;
	border-radius:25px 25px 25px 25px;
	text-decoration:none;
	padding-right: 10px;
	font-size: 1.2em;
	font-family: Arial;
}
table{
	
	border: 1px solid red;
	margin-left: auto;
	margin-right: auto;
	width: 60%;
	
}

tr,td,th{
	border: 1px solid red;
	text-align:center;
}
tr,td,th{
	border: 1px solid red;
	text-align:center;
}
#buttons{
	text-align:center;
}
#menu{	
	text-decoration:none;
	 background-color:green;
	 text-align:left;
	 font-family:Arial,Helvetica,sans-serif;
     font-size:medium;
     font-weight:bold;
     padding:10px;	
	}
